<head>
<style>
@-webkit-keyframes argh-my-eyes {
  0%   { background-color: black; }
  49% { background-color: #800000; }
  50% { background-color: black; }
  99% { background-color: black; }
  100% { background-color: #800000; }
}
@-moz-keyframes argh-my-eyes {
  0%   { background-color: #800000; }
  49% { background-color:#800000; }
  50% { background-color: black; }
  99% { background-color: black; }
  100% { background-color: #800000; }
}
@keyframes argh-my-eyes {
  0%   { background-color: #800000; }
  49% { background-color: #800000; }
  50% { background-color: black; }
  99% { background-color: black; }
  100% { background-color: #800000; }
}
body {
-webkit-animation: argh-my-eyes 0.3s infinite;
-moz-animation:    argh-my-eyes 0.3s infinite;
animation:         argh-my-eyes 0.3s infinite;
}
</style>
  <link rel="stylesheet" href="reset.css" type="text/css" />
  <link rel="stylesheet" href="css/style2.css"/>
</head>

<h1> <%= @game.player1.name %> challenges <%= @game.player2.name %> to a duel to the death <h1>
  <div class = ImageHolder>
      <img src="https://goo.gl/bvXRKT">
      <img src="https://media3.giphy.com/media/3D4gCkHF0wssE/200_s.gif">
  </div>
  <div class= stats>
    <div class= player1>
      <h5><%= @game.player1.name %> <%=@game.player1.hp %></h5>
    </div>
    <div class= player2>
      <h5><%= @game.player2.name %> <%= @game.player2.hp %><h5>
    </div></div>

<form action ="/attack">
  <input type='submit' value='ATTACK!'>
</form>
